/* Estilos generales del body para centrar el contenido principal */
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Para que el contenido principal se apile verticalmente */
    justify-content: flex-start; /* Alinea el contenido al inicio de la columna */
    align-items: left; /* Centra el contenido horizontalmente en el body */
    margin: 120px;
    background-color: #ffffff;
}
.card-img-top {
    width: 100%;
    height: 300px; /* Altura fija para las imágenes */
    object-fit: cover; /* Recorta la imagen para que cubra el espacio sin distorsión */
}

textarea {
    resize: vertical; /* Permite redimensionar solo verticalmente */
    /* resize: none; */ /* Deshabilita por completo el redimensionamiento */
}